{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event Calendar</h1>
    <div id="calendar"></div>

    <!-- Events Data -->
    <script id="events-data" type="application/json">{{ events|json_encode|raw }}</script>

{% endblock %}
